<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %>
    </nav>
    <main>
      <div class="container">
        <% for(var i = 0; i < results.length; i++){ %>
          <div class="col-md-2">
            <a class="glitchbody" data-text="<%=results[i].name%>"href="/weapons/<%= results[i].weaponid %>"><%=results[i].name %></a>
            <form action="/weapons/<%= results[i].weaponid %>/edit" method="GET">
              <button>Edit</button>
            </form>
            <form action="/weapons/<%= results[i].weaponid %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form>
          </div>
        <% } %>

    </div>
    </main>
  </body>
</html>
