<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %>
    </nav>
    <main>


    <div class="container">

      <div class="starter-template">
        <h1>EDIT A WEAPON</h1>
        <p class="lead">Use this form to build a weapon.</p>
        <form class="form-horizontal" action="/weapons" method="POST">
        <fieldset>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Weapon Name</label>
          <div class="col-md-6">
          <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md" required=""value=<%= weapon[0].name %>>
          <span class="help-block">Please name your weapon.</span>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="engine">Engine</label>
          <div class="col-md-6">
            <select id="engine" name="engine" class="form-control">
              <% for(var i = 0; i < engines.length; i++){ %>
                <option value=<%= engines[i].engineid %>
                  <% if (weapon[0].engineid == engines[i].engineid){ %>
                    <%= selected="selected" %>
                    <% } %>
                    >
                  <%= engines[i].name %> </option>
                <% } %>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="receiver">Receiver</label>
          <div class="col-md-6">
            <select id="receiver" name="receiver" class="form-control">
              <% for(var i = 0; i < receivers.length; i++){ %>
                <option value=<%= receivers[i].receiverid %>
                  <% if (weapon[0].receiverid == receivers[i].receiverid){ %>
                    <%= selected="selected" %>
                    <% } %>
                    >
                  <%= receivers[i].name %> </option>
                <% } %>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="barrel">Barrel</label>
          <div class="col-md-6">
            <select id="barrel" name="barrel" class="form-control">
              <% for(var i = 0; i < barrels.length; i++){ %>
                <option value=<%= barrels[i].barrelid %>
                  <% if (weapon[0].barrelid == barrels[i].barrelid){ %>
                    <%= selected="selected" %>
                    <% } %>
                    >
                  <%= barrels[i].name %> </option>
                <% } %>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="stock">Stock</label>
          <div class="col-md-6">
            <select id="stock" name="stock" class="form-control">
              <% for(var i = 0; i < stocks.length; i++){ %>
                <option value=<%= stocks[i].stockid %>
                  <% if (weapon[0].stockid == stocks[i].stockid){ %>
                    <%= selected="selected" %>
                    <% } %>
                    >
                  <%= stocks[i].name %> </option>
                <% } %>
            </select>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit">Submit</label>
          <div class="col-md-4">
            <button id="submit" type="submit" class="btn btn-lg btn-success">Build it!</button>
          </div>
        </div>

        </fieldset>
        </form>

      </div>

    </div><!-- /.container -->
    </main>
  </body>
</html>
